<section id="intro">
  <div class="wrapper">
    <div class="cols-2a">
      <div class="col">
        <p class="cloud-text">Hack your brain with a foreign language.</p>
      </div>
      <div class="col styles-b">
        <h2>You're online all day anyways...</h2>
        <ul class="list-a">
          <li class="type-a" style="color:white">Experience media that interests you</li>
          <li class="type-b" style="color:white">Build vocabulary naturally</li>
          <li class="type-c" style="color:white">Rapidly develop comprehension</li>
        </ul>
        <p class="button-a gfx-button txt-sign-up"><a href="/signup"><span>Sign up</span></a></p>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">
  <div id="main" class="primary primary-a">
    <div class="cols-3a styles-a" style="margin-top:20px">
      <div class="col">
        <h2>Share</h2>
        <p>Contribute interesting content for other learners</p>
        <p class="button-a gfx-button txt-upload"><a href="/share"><span>Upload</span></a></p>
      </div>
      <div class="col">
        <h2>Learn</h2>
        <p>Find interesting content, &amp; grow your international vocabulary.</p>
        <p class="button-a gfx-button txt-get-started"><a href="/learn"><span>Get Started</span></a></p>
      </div>
      <div class="col">
        <h2>Hack</h2>
        <p>Help build the language media hive, it's badass internet technology.</p>
        <p class="button-a gfx-button txt-contribute"><a href="/developers"><span>Contribute</span></a></p>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#homeLink").addClass("active");
  });
</script>
