<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Immersion</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<script type="text/javascript" src="javascripts/head.js"></script>
	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="jquery-ui/js/jquery-ui-1.8.23.custom.min.js"></script>
	<script type="text/javascript">head.js(
		'javascripts/extras.js?v=1',
		'javascripts/scripts.js?v=1'
	);
  </script>
  <link type="text/css" href="jquery-ui/css/start/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="stylesheets/screen.css?v=1" media="screen" />
	<link rel="stylesheet" type="text/css" href="stylesheets/print.css?v=1" media="print" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>

<div id="root" class="page-l">
  <% if (!user) { %>

	<header id="top">
		<div class="wrapper">
			<h1 id="logo">
        <a href="/">
        <img src="images/logo-immersion.png" width="203" height="59" alt="Immersion - logo" />
        </a>
      </h1>
			<nav id="skips">
				<ul>
					<li><a href="#nav" accesskey="n">Skip to navigation [n]</a></li>
					<li><a href="#content" accesskey="c">Skip to content [c]</a></li>
					<li><a href="#footer" accesskey="f">Skip to footer [f]</a></li>
				</ul>
			</nav>
			<form action="/login" method="post" class="form-t">
				<p>
					<label for="username">Username</label>
					<input type="text" id="username" name="username" value="" />
				</p>
				<p>
					<label for="password">Password</label>
					<input type="password" id="password" name="password" value="" />
					<a class="note" href="javascript:alert('no')">Forgot password?</a>
				</p>
				<p class="link-a a">
					<a href="http://twitter.com/immerseproject" class="button-tw">Twitter</a>
				</p>
				<p class="row-submit">
					<button name="submit" value="Submit" type="submit"><span>Login</span></button>
				</p>
			</form>
		</div>
	</header><!-- #top -->

  <% } else { %>

	<header id="top">
		<div class="wrapper">
			<h1 id="logo"><a href="./"><img src="images/logo-immersion.png" width="203" height="59" alt="Immersion - logo" /></a></h1>
			<nav id="skips">
				<ul>
					<li><a href="#nav" accesskey="n">Skip to navigation [n]</a></li>
					<li><a href="#content" accesskey="c">Skip to content [c]</a></li>
					<li><a href="#footer" accesskey="f">Skip to footer [f]</a></li>
				</ul>
			</nav>
			<nav id="nav">
				<h2 class="offset">Navigation</h2>
				<ul>
					<li class="nav-home"><a id="homeLink"  href="/" accesskey="h"><span>Home</span></a><em> [h]</em></li>
					<li><a id="shareLink" href="/share" accesskey="1">Share</a><em> [1]</em></li>
          <li><a id="learnLink" href="/learn" accesskey="2">Learn</a><em> [2]</em></li>
					<!--<li><a href="./" accesskey="3">Vocab</a><em> [3]</em></li>
					<li><a href="./" accesskey="4">Account</a><em> [4]</em></li> --!>
					<li><a href="/logout" accesskey="5">Logout</a><em> [5]</em></li>
				</ul>
			</nav>
		</div>
	</header><!-- #top -->
  <% } %>

	<section id="content">
    <%- body %>
	</section><!-- #content -->
	<footer id="footer">
		<div class="wrapper">
			<nav id="nav-foot">
				<ul>
					<li><a href="/developers">Developers</a></li>
					<li><a href="/share">Share</a></li>
					<li><a href="http://twitter.com/immerseproject">Twitter</a></li>
				</ul>
			</nav>
		</div>
	</footer><!-- #footer -->
</div><!-- #root -->

</body>
</html>
