<link rel='stylesheet' href='/video-js/video-js.css' />
<script src="/video-js/video.js"></script>
<script src="/audiojs/audio.min.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/immersion.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  jQuery.fn.center = function () {
      this.css("position","absolute");
      this.css("top", Math.max(0, (($(window).height() - this.outerHeight()) / 2) + 
                                                  $(window).scrollTop()) + "px");
      this.css("left", Math.max(0, (($(window).width() - this.outerWidth()) / 2) + 
                                                  $(window).scrollLeft()) + "px");
      return this;
  }

  $(document).ready(function() {
    $("#learnLink").addClass("active");
    var socket = io.connect("http://localhost");
    socket.emit('startMedia', { my: 'data' });

    socket.on("media", function (data) {
      var vDiv = $("<li>");
      var link = $("<a>");
      link.attr("href", "javascript:void(0);");
      link.html(data.name+" : An epic saga about rabbits");
      link.attr("id", data.id);
      link.click(function() {
        window.currentURL = data.url;
        window.myPlayer.src(data.url);
        window.myPlayer.play();
      });
      vDiv.append(link);
      $("#mediaList").append(vDiv);
    });

    socket.on("guessWordResult", function (data) {
      var guessBox = $("#"+data.guessId);
      guessBox.find(".results").remove();
      var guessResults = $("<div>");
      guessResults.css("font-size","12px");
      guessResults.addClass("results");
      if (data.results.suggestion == "") {
        guessResults.html("That word means: "+ data.results.output + "<br>"+data.results.language);
      }
      else {
        guessResults.html("<a href='#'>"+ data.results.suggestion+"</a><br>"+data.results.language);
      }
      guessBox.append(guessResults);
    });

    socket.on("updateEntry", function (data) {
        var wordLink = $("#"+data.id);
        wordLink.html("Word ready! (From ~ "+wordLink.attr("when")+" seconds.)");

        if (!wordLink.attr("listening")) {
          wordLink.attr("listening", "true");
          wordLink.click(function() {
            var vDiv = $("<div>");
            vDiv.css({"font-size":"18px", padding:"15px", position:"absolute", height:"300px", width:"450px", border:"1px solid darkgray", background: "white"});
            vDiv.html('<h3>'+data.name+'</h3><audio src="'+data.url+'" controls preload="auto" autobuffer></audio>');
            var jumpLink = $("<a>");
            jumpLink.css("margin", "10px");
            jumpLink.css("cursor", "pointer");
            jumpLink.html("Jump to..");
            jumpLink.click(function() {
              myPlayer.currentTime(wordLink.attr("when") - 3);
            });
            vDiv.append(jumpLink);

            var transDiv = $("<div>");
            transDiv.attr("id", "guess-"+data.id);
            transDiv.html("<h4>Enter your best guess:</h4>&nbsp;");
            var searchInput = $("<input>");
            searchInput.keydown(function(event) {
              event.stopImmediatePropagation();
            });
            var searchButton = $("<button>");
            searchButton.html("Search");
            searchButton.click(function() {
              socket.emit('guessWord', {guessId : 'guess-'+data.id, word: searchInput.attr("value") });
              searchInput.attr("value", "");
            });
            transDiv.append(searchInput);
            transDiv.append(searchButton);
            vDiv.append(transDiv);

            var tags = $("<div>");
            tags.html("<h4>Meta:</h4>&nbsp;<input></input><button>Add</button>");
            vDiv.append(tags);

            var closeLink = $("<a>");
            closeLink.css({"position":"absolute", "bottom":"10px", "left":"10px"});
            closeLink.css("cursor", "pointer");
            closeLink.html("Close");
            closeLink.click(function() {
              vDiv.remove();
            });
            var saveLink= $("<a>");
            saveLink.css({"position":"absolute", "bottom":"10px", "right":"10px"});
            saveLink.css("cursor", "pointer");
            saveLink.html("Save");
            saveLink.click(function() {
              console.log('thanks');
            });
            vDiv.append(closeLink);
            vDiv.append(saveLink);
            $(document.body).append(vDiv);
            vDiv.center();
          });
        }
    });
  });
</script>


  <div class="wrapper">
    <div id="main" class="primary primary-a">
      <div class="content-a">
        <h3 style="float:right;margin-right:10px;">
          welcome, <a href="/account"><%= user.username %></a>
        </h3>
        <h2>Details</h2><br>
        <form>
        <p style="float:left;padding-right:10px;>
          <label for="language">Pick a language: </label>
          <select class="custom" id="language" name="language">
            <option value="">Pick a language</option>
            <option value="german">German</option>
            <option value="portuguese">portuguese</option>
            <option value="spanish">Spanish</option>
            <option value="french">French</option>
          </select>
        </p>
        <p style="float:left;padding-right:10px;">
          <label for="difficulty">Level of difficulty: </label>
          <select class="custom" id="difficulty" name="difficulty">
            <option value="">Level of difficulty</option>
            <option value="beginner">beginner</option>
            <option value="intermediate">intermediate</option>
            <option value="advanced">advanced</option>
          </select>
        </p>
        <p class="row-submit">
          <button value="Select" type="submit"><span><span>Select</span></span></button>
        </p>
        </form><br><br>
        <h2>Learn</h2>
        <br> 
        <table style="padding-bottom:20px">
          <tr>
            <td>
              <div style="overflow:auto; width:300px;height:300px;">
                <h3 style="margin:5px">Media</h3>
                <ul id="mediaList"></ul>
              </div>
            </td>
            <td><div style="border:1px solid lightgray">
              <video id="videoPortal" class="video-js vjs-default-skin" controls
                preload="auto" width="640" height="360" poster="/images/poster.png"
                data-setup="{}">
                <source id="videoSource" src="" type='video/webm'>
              </video></div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h3 style="margin:5px">Words</h3>
              <div style="height:200px;">
                <div>Press 'W' when you don't understand a word.</div>
                <ul id="words" style="height:150px;overflow:auto;"></ul>
              </div>
            </td>
          </tr>
        </table>


      </div>
    </div>
  </div>    
