<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="//assets.transloadit.com/js/jquery.transloadit2.js"></script>
<script type="text/javascript">
   // We call .transloadit() after the DOM is initialized:
   $(document).ready(function() {
     $('#MyForm').transloadit({
        wait: true
     });
   });
</script>

<form id="MyForm" action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data" method="POST">
  <input type="hidden" name="params" value="{&quot;auth&quot;:{&quot;key&quot;:&quot;29a54de7a68d4358baff0bb4f3a7652c&quot;},&quot;template_id&quot;:&quot;ff0cd45cd7374e6994a8ac2e44171a36&quot;,&quot;redirect_url&quot;:&quot;http://wild.io/share&quot;}" />
  <input type="file" name="my_file" />
  <input type="submit" value="Upload">
</form>
